



#belowMap{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15% 0;
}

#footer{
  background-color: limegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14% 0;
  margin-top: 4%;
  border-radius: 15px;
}

#postWraper{
  background-color: magenta;
  padding: 1%;
  margin: 2% 0%;
}



.Map {
    text-align: center;
  }
  
  .Map-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Map-logo {
      animation: Map-logo-spin infinite 20s linear;
    }
  }
  
  .Map-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Map-link {
    color: #61dafb;
  }
  
  @keyframes Map-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  path {
    font-style:normal;
    font-weight:400;
    font-size:32.8125px;
    font-family:'MS Shell Dlg 2';
    fill:antiquewhite;
    fill-opacity:1;
    stroke:black;
    stroke-width:5;
    stroke-linecap:square;
    stroke-linejoin:round;
    stroke-opacity:1;
  }
  
  path:hover{
    fill: #dc8f41;
  }

  #report{
    background-color: white;
    font-size: 2em;
    border-radius: 15px;
  }