#belowMap{
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15% 0;
}

Button{
  background-color: black;
}

#copyright_footer{
  display: block;
}

#signUp{
  display: block;
}

#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  padding: 2% 0;
  margin-top: 4%;
  border-radius: 15px;
}

#footer ul{
  display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#footer ul li{
  display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
}
#footer ul li a{
  text-decoration: none;
  color:#002587;
}
#footer ul li a:hover{
  color: #303f9f;
}

html{
  font-family: fantasy;
}

#postWraper{
  background-color: magenta;
  padding: 1%;
  margin: 2% 0%;
}



.Map {
    text-align: center;
  }
  
  .Map-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Map-logo {
      animation: Map-logo-spin infinite 20s linear;
    }
  }
  
  .Map-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Map-link {
    color: #61dafb;
  }

  #NavBar{
    margin: auto;
    width: 60%;
    padding: 10px;
  }

  #NavBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

  #NavBar li{
    display: inline;
    align-items: center;
  }

  #NavBar li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #NavBar li:last-child{
    border-bottom: none;
  }

  #NavBar li a:hover{
    background-color: #422119;
  }
  
  @keyframes Map-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #Map_Div path {
    font-style:normal;
    font-weight:400;
    font-size:32.8125px;
    font-family:'MS Shell Dlg 2';
    fill:antiquewhite;
    fill-opacity:1;
    stroke:black;
    stroke-width:5;
    stroke-linecap:square;
    stroke-linejoin:round;
    stroke-opacity:1;
  }
  
  #Map_Div path:hover{
    fill: #dc8f41;
  }

.MuiButton-containedPrimary:hover {
  background-color: #002587;
}
.MuiTypography-h3 {
    text-decoration: none;
    color: #002587;
}

  #report{
    background-color: white;
    font-size: 2em;
    border-radius: 15px;
  }